asgiref==3.8.1
async-timeout==4.0.3
cffi==1.17.0
cryptography==43.0.1
Django==4.2.15
django-cors-headers==4.4.0
django-db-connection-pool==1.2.5
django-redis==5.4.0
djangorestframework==3.15.2
greenlet==3.0.3
pillow==10.4.0
pycparser==2.22
PyMySQL==1.1.1
pytz==2024.1
redis==5.0.8
SQLAlchemy==2.0.33
sqlparams==6.1.0
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.1
